<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @techers_assignment.teacher.name %>
</p>
<p>tomo la materia:</p>
<p>
  <strong>Assignment:</strong>
  <%= @techers_assignment.assignment.name %>
</p>

<%= link_to 'Edit', edit_techers_assignment_path(@techers_assignment) %> |
<%= link_to 'Back', root_path %>
