<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @homework.message %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @homework.final_date %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @homework.assignment_id %>
</p>

<%= link_to 'Edit', edit_assignment_homework_path(@homework.assignment , @homework) %> |
<%= link_to 'Back', assignment_path(@homework.assignment) %>
